.note-editor h2 {
    text-shadow:
            -0   -2px 0   #000000,
            0   -2px 0   #000000,
            -0    2px 0   #000000,
            0    2px 0   #000000,
            -2px -0   0   #000000,
            2px -0   0   #000000,
            -2px  0   0   #000000,
            2px  0   0   #000000,
            -1px -2px 0   #000000,
            1px -2px 0   #000000,
            -1px  2px 0   #000000,
            1px  2px 0   #000000,
            -2px -1px 0   #000000,
            2px -1px 0   #000000,
            -2px  1px 0   #000000,
            2px  1px 0   #000000,
            -2px -2px 0   #000000,
            2px -2px 0   #000000,
            -2px  2px 0   #000000,
            2px  2px 0   #000000,
            -2px -2px 0   #000000,
            2px -2px 0   #000000,
            -2px  2px 0   #000000,
            2px  2px 0   #000000;
}
p.outline{
    text-shadow: rgb(0, 0, 0) 1px 0px 0px,
    rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px,
    rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px,
    rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}