.page-categories .item-cat .cat-lots-slider{
    position: relative;
}
.page-categories .item-cat .cat-lots-slider .viewport{
    display: flex;
    height: 300px;
    position: relative;
    transition: 0.5s;
}
.page-categories .category-wrap-item .cat-lots-slider{
    width: 300px;
    overflow: hidden;
}
@media (min-width: 479px){
    .page-categories .category-wrap-item .cat-lots-slider{
        width: 450px;
    }
}
.page-categories .item-cat .cat-lots-slider .viewport{
    width: fit-content;
    margin-bottom: 10px;
}

.page-categories .item-cat .cat-lots-slider .viewport .item{
    position: relative;
    height: 300px;
    padding: 0 2px;
}
.cat-lots-slider .viewport .item .image{
    text-align: center;
    height: 200px;
}

.cat-lots-slider .viewport .item .vertical-middle{
    display: inherit;
}
.cat-lots-slider .viewport .item .vertical-middle a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.cat-lots-slider .viewport .item img{
    max-height: 200px;
}

.cat-lots-slider .item .desc-wrap {
    padding: 20px 0;
    text-transform: uppercase;
}
.cat-lots-slider .item .price {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}
.cat-lots-slider .item .price span {
    display: inline-block;
    padding-left: 5px;
    color: #CAAC8A;
}