.uploaded-lot-images-block{
    display: none;
}
.uploaded-lot-images-block label{
    width: 100%;
}
.uploaded-lot-images-block .uploaded-lot-image{
    width: 23%;
    height: 94px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 13px;
    position: relative;
    float: left;
    margin-left: 2.5%;;
    margin-top: 14px;
    text-align: center;
}
.uploaded-lot-images-block  .uploaded-lot-image img{
    max-height: 100%;
}
.uploaded-lot-images-block  .uploaded-lot-image.to-delete:before{
    display: block;
    height: 100%;
    width: 100%;
    content: ' ';
    background-color: #ffffffbf;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.uploaded-lot-images-block  .uploaded-lot-image.to-delete .del-uploaded-image{
    opacity: 1;
}

@media all and (min-width: 1071px) {
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(4n+1) {
        margin-left: 0px;
    }
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(-n+4) {
        margin-top: 0px;
    }
}
@media all and (min-width: 768px) and (max-width: 1070px) {
    .uploaded-lot-images-block .uploaded-lot-image{
        width: 31%;
    }
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(3n+1){
        margin-left: 0px;
    }
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(-n+3){
        margin-top: 0px;
    }
}
@media all and (max-width: 767px) {
    .uploaded-lot-images-block .uploaded-lot-image{
        width: 46%;
    }
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(2n+1){
        margin-left: 0px;
    }
    .uploaded-lot-images-block .uploaded-lot-image:nth-child(-n+2){
        margin-top: 0px;
    }
    .uploaded-lot-images-block .uploaded-lot-image {
        height: 70px;
    }
}

.del-uploaded-image {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    margin-right: 11px;
    margin-top: -32px;
}
.del-uploaded-image:hover {
    opacity: 1;
}
.del-uploaded-image:before,
.del-uploaded-image:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: #ff0000;
}
.del-uploaded-image:before {
    transform: rotate(45deg);
}
.del-uploaded-image:after {
    transform: rotate(-45deg);
}

.uploaded-image-modal{
    position: fixed;
    z-index: 10001;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;

    width: fit-content;
    height: auto;
    padding: 18px;
}
.uploaded-image-modal img{
    width: 100%;
    max-width: 700px;
    height: auto;
}