.header-phone {
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding: 16px 0 14px;
    margin-bottom: 12px;
    background: #fafafa;
    /*text-align: right;*/
}

.header-phone .block-phone {
    font-size: 18px;
    right: -35px;
    position: relative;
    font-weight: 600;
    text-align: right;
}

.image-left {
    left: -50px;
}

.top {
    background: #fafafa;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 65px;
    background-image: url(../img/landing-header_blured.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.top p {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.8;
}

header .logo img {
    width: 486px;
    margin: 20px 0 7px;
}

.part-one {
    font-size: 38px;
    margin-bottom: 14px;
}

.part-two {
    font-size: 32px;
    color: #CAAC8A;
    margin-top: -10px;
    margin-bottom: 5px;
}

.btn-main {
    padding: 30px 40px;
    font-size: 16px;
    border-radius: 50px;
    line-height: 0;
    margin-top: 20px;
}

.btn-main-center{
    margin: 0 auto;
    width: 210px;
    display: block;
}

.landing-form {
    float: right;
    width: 392px;
    padding: 0 10px;
    text-align: center;
    margin-right: -10px;
}

.landing-form p {
    font-size: 14px;
    text-align: left;
}

.landing-form .title {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.landing-form .item {
    margin: 0 2px 20px 0;
    width: 49%;
    display: inline-block;
}

.landing-form .item.item__fullWidth {
    width: 100%;
    margin-right: 0;
}

.landing-form .item input {
    height: 44px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    padding: 4px 15px 5px;
    border-radius: 22px;
    color: #9b9b9b;
    line-height: 15px;
    width: 100%;
}

.landing-form .item textarea {
    height: 80px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    width: 100%;
    padding: 14px 15px 5px;
    border-radius: 22px;
    color: #9b9b9b;
    line-height: 15px;
    resize: none;
}

.landing-form .item .btn {
    width: 158px;
}

.landing-form .item:last-child {
    margin: 0;
}

.text-block {
    width: 700px;
    margin: auto;
}

.wrap-main-fix {
    margin-top: 17px;
}

.text-block p {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.8;
    font-style: italic;
    text-align: justify;
}

.text-block .signature {
    text-transform: uppercase;
    color: #CAAC8A;
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    line-height: 0.8;
    font-style: normal;
    margin-top: 28px;
}

.text-block .signature-footer {
    font-size: 19px;
    font-weight: 600;
    text-align: right;
    font-style: normal;
}

.quotes {
    font-size: 25em;
    color: #CAAC8A;
    text-align: center;
    font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
    line-height: 0;
    margin-top: 150px;
    margin-bottom: -30px;
}

.line {
    border-bottom: 1px solid #CAAC8A;
    margin: 20px 0;
}

video {
    box-shadow: 0 0 10px #c4c4c4;
}

footer .social {
    margin-top: -30px;
    line-height: 0;
    height: 26px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal h2 {
    text-transform: uppercase;
}

.modal p {
    text-transform: none;
    font-weight: 200;
}

.modal input:focus {
    border: 1px solid #CAAC8A;
    transition-duration: 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}
.modal-content.modal-content__video{
    width: 660px;
}

.close {
    float: right;
    font-size: 35px;
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #CAAC8A;
    margin: auto;
}

.round span {
    color: #CAAC8A;
    font-size: 30px;
}

.footer {
    height: auto;
}

.content-wrap {
    padding-bottom: 150px;
}

.icon-linkedin {
    background: url(../img/linkedin.svg) no-repeat center;
    width: 20px;
    height: 20px;
}

.modal-content h4 {
    font-weight: bold;
}

.modal-content a {
    word-break: break-all;
}
.video-block video{
    width: 100%!important;
}

@media (max-width: 1200px) {
    .wrap {
        max-width: 767px;
    }

    .header-phone .block-phone {
        right: 15px;
    }

    .image-left {
        left: 0;
        display: inline-block;
    }

    .image-left video {
        width: 100%;
    }

    .image-left img {
        width: 100%;
    }

    .landing-form {
        margin: 25px auto 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .row-image-text .image {
        width: 100%;
    }
    .cc-theme-block {
        height: 205px !important;
        max-width: none !important;
    }
    .cc-bottom{
        bottom: 0em!important;
    }

}

@media (max-width: 767px) {
    body {
        width: 100%;
    }

    .footer-fix {
        width: 100%
    }

    footer .social {
        margin-top: 15px;
    }

    .part-one {
        font-size: 25px;
    }

    .part-two {
        font-size: 19px;

    }

    .modal-content {
        width: 90% !important;
        max-width: 400px !important;
    }

    .modal h2 {
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 24px;
        padding-left: 12px;
    }

    .wrap-main-fix {
        margin-top: 0;
        text-align: center;
    }

    .wrap {
        max-width: 100%;

    }

    .text-block {
        width: 100%;
        padding: 10px;
    }

    header .logo img {
        width: 300px;
    }

    .cc-theme-block {
        height: 280px !important;
    }

    .cc-compliance {
        display: block !important;
        text-align: center !important;
    }

    .wrapper-sign-up-agreement {
        width: 100% !important;
    }

    .text-block .signature {
        font-size: 19px;
    }

    .text-block .signature-footer {
        font-size: 13px;
    }

    .quotes {
        font-size: 14em;
        margin-top: 95px;
        margin-bottom: -20px;
    }
    .modal-content.modal-content__video{
        width: 100% !important;
    }
}
@media (max-width: 736px) {
    .cc-theme-block {
        height: 220px !important;
    }
}
@media (max-width: 667px) {
    .cc-theme-block {
        height: 210px !important;
    }
}
@media (max-width: 375px) {
    .landing-form .item {
        margin: 0 0 20px 0;
        width: 100%;
    }
    .cc-theme-block {
        height: 300px !important;
    }
}
@media (max-width: 320px) {
    .cc-theme-block {
        height: 350px !important;
    }

}