.popup.place-bid-popup,
.popup.confirm-place-bid {
	display:block;
}
.place-bid-popup textarea,
.confirm-place-bid textarea {
	resize:none;
}
.message-item .letter-top-controls .labels .btn-hide-archive-msgs {
	border-right: 0 none;
}
.message-item .letter-top-controls .labels span {
	border-right: 1px solid #CAAC8A;
}
.message-item .letter-top-controls .labels span:last-child {
	border-right: 0 none;
}
.message-item .letter-top-controls .labels span:last-child {
	border-left: 0 none;
}
.message-item .letter-box-reply .reply-msg {
	height: auto;
}
.buy-it-wrap {
	position: absolute;
	top: 0;
	right: 0;
}
.buy-it-wrap {
	padding: 40px 0 0 0;
}
.lot-top-notification {
	z-index:40;
}
.lot-top-notification .icon-esc_icon::before {
	cursor:pointer;
	padding:5px;
}
.bid-amount-error {
	font-size:12px;
	line-height:15px;
	padding:5px 10px;
	border-radius:2px;
	background-color:#ffe8eb;
	margin-bottom:10px;
	display:none;
}
.place-bid-error .bid-amount-error {
	display:block;
}
.place-bid-error input.bid-amount-input,
.popup.place-bid-popup.place-bid-error .form-group input.bid-amount-input {
	color:#7e000f!important;
}
.bui-it-wrap .inp-wrap input {
	font-size:14px;
}
[class*="buyer-card"] .short-description--declined .price-value .currency {
	color:#aeaeae;
}
.price-block-wrapper .price {
	text-align:center;
}
.slider-product .item.right-item {
	right:0;
}
.slider-product .item.left-item {
	left:0;
}
.page-profile .filter-default .item .sorting a.down {
	color: #AEAEAE;
}

.page-profile .filter-default .item .sorting a.icon-sorting--active {
	color: #333333;
}
.category-page .item-cat .image .inner {
	text-align:center;
}
.category-page .item-cat .image img {
    width:auto;
    max-height:160px;
}
.most-popular .item .image img {
    width:auto;
    max-height:225px;
}
/************* afterwards move to compile css styles ********/
.bids-list .buyer-card--expanded .bid-partial-card{
	position: relative;
	top:auto;
	left: auto;
	overflow: hidden;
	width: auto;
	padding: 0px 20px 20px 20px;
}

.page-profile .bids-list .buyer-card--received .description{
	max-width: 47%;
}
.page-profile .bids-list .buyer-card--received.buyer-card--expanded .description{
	max-width: 60%;
}
.bids-list .buyer-card--expanded .bid-partial-card .total-bid-info{
	right: 0;
}
.bids-list .buyer-card--expanded .bid-partial-card {
	left: 0;
}

/****************************************************/

.slider-product .item {
	display:none;
}
.slider-product .item.right-item,
.slider-product .item.left-item,
.slider-product .item.active {
	display:block;
}
.slider-product .item.right-item img,
.slider-product .item.left-item img {
	max-height:154px;
}
header .logo {
	padding:0;
	margin:-12px 0 20px;
}
.top-link {
	padding:5px;
	height:36px;
}
.top-link li a {
	line-height:30px;
}
.most-popular .item .image{
	table-layout: fixed;
}
.at-style-responsive .at-share-btn{
	padding: 2px !important;
	border-radius: 3px !important;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper{
	line-height: 12px !important;
    height: 12px !important;
    width: 12px !important;
}
.at-icon-wrapper.at-share-btn.at-svc-facebook .at-icon.at-icon-facebook{
	width: 14px !important;
    height: 14px !important;
}
.at-icon-wrapper.at-share-btn.at-svc-pinterest_share .at-icon.at-icon-pinterest_share,
.at-icon-wrapper.at-share-btn.at-svc-email .at-icon.at-icon-email,
.at-icon-wrapper.at-share-btn.at-svc-twitter .at-icon.at-icon-twitter{
	width: 13px !important;
    height: 13px !important;	
}
.at-resp-share-element .at-share-btn{
	margin: 0 4px 0px !important;
}

/*text specifics on lot page*/
.product-info-wrap .text-info .content-wrap .aligned-ul li.lot-text-specific {
	float: none;
	clear: both;
	width: 100%;
	white-space: normal;
}
.row-image-text .image-left .image,
.row-image-text .image-right .text{
	float:left;
}
.row-image-text .image-left .text,
.row-image-text .image-right .image{
	float:right;
}
.bui-footer .time-wrap-line {
	margin-bottom:0;
}
.block-card-lot.block-card-lot--winner .btn-lot {
	float:none;
	margin:0 auto;
}
.btn-holder {
	float:left;
	width:100%;
	margin:20px 0 30px;
	text-align:center;
}
.block-card-lot.block-card-lot--accepted-bid .info-bid {
	padding:4px 10px;
}
.block-card-lot.block-card-lot--accepted-bid .info-bid .title {
	margin-bottom:3px;
}
.block-card-lot.block-card-lot--accepted-bid .info-bid > div {
	margin-top:3px;
}
.block-card-lot.block-card-lot--accepted-bid .info .info-bid .bid-price {
	width:auto;
}
.block-card-lot.block-card-lot--accepted-bid .info > .bid-price {
	font-size:22px;
}
/***/
footer .col ul li{
	text-transform: uppercase;
}
footer .col-auth ul:last-child li{
	text-transform: capitalize;
}
footer .copy{
	padding-bottom: 10px;
}
footer .copy a{
	color: #d3d3d3;
	text-decoration: underline;
	margin: 0 3px;
}
footer .copy a:last-child{
	text-decoration: none;
}
footer .subscribe .info a{
	line-height: 1.5;
}
.about-partners li:nth-child(2){
	margin-bottom: 80px;
}
.map-wrap #map{
	width: 275px;
    height: 180px;
}
.container-form-wrap .form-item .remember-wrap .item{
    width: 100%;
    text-align: center;
	padding: 0;
	margin: 0 0 5px 0;
}
.container-form-wrap .form-item .remember-wrap .item label{
    width: auto;
}
/* .container-form-wrap .form-item .remember-wrap .item:last-child{
	width: 300px;
    text-align: left;
	padding-left: 20px;
	margin: 0;
}
 */

 /* only for palce a bid, lot is sold */
 .block-card-lot.block-card-lot--place-a-bid .info{
	margin: 7px 0 0;
 }
 .product-price-range-details-wrapper p{
	 text-align: center;
	 font-size: 10px;
 }
 .block-card-lot--sold-lot .product-price-range-details-wrapper{
	margin: 0 40px 40px;
 }
 .block-card-lot.block-card-lot--congratulations .title + .time-wrapper,
 .block-card-lot.block-card-lot--bid-info .title + .time-wrapper{
	 background: #fff;
	 padding: 0;
 }
 .block-card-lot.block-card-lot--congratulations .time-wrapper + .bid-info{
	text-align: left;
 }
 .block-card-lot.block-card-lot--closed-lot .bid-price{
	 margin-bottom: 30px;
 }
 .block-card-lot.block-card-lot--counter-bid .title + .time-wrapper{
	background: #fff;
	padding: 0;
	margin-top: 25px;
 }
 .block-card-lot.block-card-lot--counter-bid .time-wrapper + .bid-info{
	margin: 50px 40px 0 40px;
	padding: 5px 0;
	border-bottom: 1px solid #E4E4E4;
 }
 .policy-popup .modal-content{
	 width: 700px;
 }
 /* arrows fixing */
 /* .top-link .user-enter> ul > li > a::before{
	top: 14px;
	border-left: 3px solid #222;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 3px solid transparent;
 } */
 .page-buyer .sidebar-wrap .group-nav nav ul li.expanded.active a:after{
	top: -3px;
	right: 17px;
    transform: none;
 } 
 .page-buyer .sidebar-wrap .group-nav nav ul li.expanded a:after {
	top: -3px;
    transform: rotate(-90deg);
 }
 .sidebar-wrap nav ul li.level.active em, .sidebar-wrap nav ul li.level em {
    transform: rotate(-90deg);
}
 .sidebar-wrap nav ul li.level.active em{
    transform: rotate(180deg);
}
.top-link .user-enter> ul > li > a:before{
	transform: rotate(-90deg);
}
.top-link .user-enter > ul > li:hover > a:before{
    transform: rotate(180deg);
}



