
<div class="block-card-lot block-card-lot--accepted-bid"><span class="icon-congrat"></span>
  <p class="title">You accepted bid</p>
  <div class="info">
    <div class="info-person">
      <p>Aleksey V</p><span>Dnipro, Ukraine</span>
      <div class="bid-price">90 000<span class="currency"> USD</span></div>
    </div>
    <div class="info-bid">       
      <p class="title">The bid price consists of:</p>
      <div>
        <p>Lot price:</p>
        <div class="bid-price">90 000<span class="currency"> USD</span></div>
      </div>
      <div>   
        <p>Auction house fee:</p>
        <div class="bid-price">90 000<span class="currency"> USD</span></div>
      </div>
    </div>
  </div>
  <div class="card-bottom-part">
    <p><span>Start:</span>August 17, 2017, 12:00 PM EST</p>
    <p>   <span>End:</span>September 17, 2017, 12:00 PM EST</p>
  </div>
</div>