
<div class="block-card-lot block-card-lot--bid-info">
  <p class="title">Bid info</p>
  <p class="bid-info"><span class="icon-done"></span>You placed a bid 1/5</p>
  <div class="info">
    <div class="bid-price">90 000<span class="currency"> USD</span>
      <p>Includes auction premiums, <br/>but excludes shipping/delivery fees</p>
    </div>
    <div class="time-wrap-line">
      <div class="time-line">
        <div class="time-line-left" style="width: 45%;"></div>
      </div><span class="time-text">Bid expires in:<span class="expires-date">24h 00m </span></span>
    </div>
  </div>
  <div class="time-wrapper">
    <p>You should wait for respond on your bid.</p>
    <p>We’ll send you email notification after respond.</p>
    <div class="time-wrap-line">
      <div class="time-line">
        <div class="time-line-left" style="width: 65%;"></div>
      </div><span class="time-text">Lot expire in: <span class="expires-date">16h 15m </span></span>
    </div>
  </div>
</div>