
<div class="block-card-lot block-card-lot--counter-bid">
  <p class="title">Counter bid</p>
  <p class="bid-info">
     Please respond to this counter bid from <span>Seller</span></p>
  <div class="info">
    <div class="bid-price">90 000<span class="currency"> USD</span>
      <p>Includes auction premiums, <br/>but excludes shipping/delivery fees</p>
    </div>
    <div class="time-wrap-line">
      <div class="time-line">
        <div class="time-line-left" style="width: 25%;"></div>
      </div><span class="time-text">Bid expires in:<span class="expires-date">24h 00m </span></span>
    </div>
  </div><a class="btn-lot">respond</a>
  <div class="time-wrapper">
    <div class="time-wrap-line">
      <div class="time-line">
        <div class="time-line-left" style="width: 65%;"></div>
      </div><span class="time-text">Lot expire in: <span class="expires-date">16h 15m </span></span>
    </div>
  </div>
</div>