
<div class="block-card-lot block-card-lot--lot-info-simple">
  <p class="title">Lot info</p>
  <div class="bid-price">90 000 - 100 000<span class="currency"> USD</span>
    <p>Suggested bid range  </p>
  </div>
  <div class="time-wrapper">
    <div class="time-wrap-line">
      <div class="time-line">
        <div class="time-line-left" style="width: 65%;"></div>
      </div><span class="time-text">Lot expire in: <span class="expires-date">16h 15m </span></span>
    </div>
  </div>
</div>