
<div class="block-card-lot block-card-lot--sold-lot">
  <p class="title">Lot is sold</p>
  <div class="bid-price">90 000 - 100 000<span class="currency"> USD</span>
    <p>Suggested bid range  </p>
  </div>
  <div class="card-bottom-part">
    <p><span>Start:</span>August 17, 2017, 12:00 PM EST</p>
    <p>   <span>End:</span>September 17, 2017, 12:00 PM EST</p>
  </div>
</div>