
<div class="block-card-lot block-card-lot--winner"><span class="icon-winner_icon"></span>
  <p class="title">You are the winner</p>
  <p class="bid-info"><span class="icon-done"></span><span>Seller </span>acepted your last bid 2/5</p>
  <div class="info">
    <div class="bid-price">90 000<span class="currency"> USD</span>
      <p>Includes auction premiums, <br/>but excludes shipping/delivery fees</p>
    </div><a class="btn-lot">how to pay</a>
  </div>
  <div class="card-bottom-part">
    <p><span>Start:</span>August 17, 2017, 12:00 PM EST</p>
    <p>   <span>End:</span>September 17, 2017, 12:00 PM EST</p>
  </div>
</div>