<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LastBid – selling unsold auction lots online to a global audience</title>
    <link rel="shortcut icon" href="favicon.ico">

    <meta name="description" content="LastBid offers auction houses the chance to sell their unsold auction lots online, from wine and collectables to antiques and jewellery.">

    <!-- Styles -->
    <link href="assets/css/jquery.formstyler.css" rel="stylesheet">
    <link href="assets/css/glyphter.css" rel="stylesheet">
    <link href="assets/css/colorbox.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?ver=1.1') }}">
    <link href="assets/css/jquery.scrollbar.css?ver=1.1" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/modifications.css?ver=1.1" rel="stylesheet">
    <link href="assets/css/landing.css" rel="stylesheet">
    <!-- Google Tag Manager -->

    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =

                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);

    })(window, document, 'script', 'dataLayer', 'GTM-TWSC7T9');</script>

    <!-- End Google Tag Manager -->
</head>
<body>
<div class="header-phone">
    <div class="wrap">
        <div class="block-phone">
            <a href="tel:4402071833007">+44 (0) 20 7183 3007</a>
        </div>
    </div>
</div>
<div class="footer-fix">
    <div class="content-wrap">
        <div class="top">
            <div class="wrap">
                <header>
                    <div class="logo"><a href="/"><img src="assets/img/logo.svg" alt="LastBid"></a></div>
                </header>
                <p class="part-one">where unsold auction lots come to be sold</p>
                <p class="part-two brown">launching on march 31, 2019</p>
                <!--<div class="btn-wrap">-->
                <!--<a class="btn btn-main" id="discoverMoreBtn">discover more</a>-->
                <!--</div>-->

                <div id="discoverMore" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>discover more</h2>
                        <form method="post" action="subscribe" id="form-discover">
                            <div class="notification-sent-msg">
                                <p></p>
                            </div>
                            <span class="error-notification"></span>
                            <div class="item">
                                <input type="email" placeholder="Email" name="email" required
                                       class="{{ $errors->has('email') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item">
                                <button class="btn" type="submit">send</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="letsTalk" class="modal">
                    <div class="modal-content">
                        <span class="close" id="letsTalk_close">&times;</span>
                        <h2>let's talk</h2>
                        <p>Thank you! Your message has been sent.</p>
                        <div class="round">
                            <span>&#10003;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap wrap-main-fix">

            <div class="row-image-text clearfix">
                <div class="wrap image-left">
                    <div class="image">
                        <img id="placeholderVideo" src="assets/img/Intro600px.jpg" width="600" alt="">
                        <video width="600" controls="" id="lastBidVideo" style="display: none">
                            <source src="assets/uploads/LastBid_long_version.mp4" type="video/mp4">
                            <p>Your browser doesn't support HTML5 video. Here is
                                a <a href="assets/uploads/LastBid_long_version.mp4">link to the video</a> instead.
                            </p>
                        </video>
                    </div>
                    <div class="landing-form">
                        <div class="title">let's talk</div>
                        <p>We’re keen to start a dialogue with those
                            in the auction world to discuss how we could help,
                            so please do get in touch.
                        </p>

                        <form method="post" action="landing" id="form-landing">
                            <div class="notification-sent-msg">
                            </div>
                            <span class="error-notification">
                            </span>
                            <div class="item item__fullWidth">
                                <input type="text" placeholder="Name *" name="name" required
                                       class="{{ $errors->has('name') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item">
                                <input type="text" placeholder="Company *" name="company" required
                                       class="{{ $errors->has('company') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item">
                                <input type="text" placeholder="Job title *" name="job_title" required
                                       class="{{ $errors->has('job_title') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item">
                                <input type="email" placeholder="Email *" name="email" required
                                       class="{{ $errors->has('email') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item">
                                <input type="text" placeholder="Telephone" name="telephone"
                                       class="{{ $errors->has('telephone') ? 'has-error--bgcolor' : '' }}">
                            </div>
                            <div class="item item__fullWidth">
                            <textarea placeholder="Message" name="message"
                                      class="{{ $errors->has('message') ? 'has-error--bgcolor' : '' }}"></textarea>
                            </div>
                            <div class="item">
                                <button class="btn" type="submit" id="sendBtn">send</button>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="text-block">
                    <div class="quotes">&#8220;</div>
                    <div class="line"></div>
                    <p>
                        “LastBid brings auction houses and potential buyers together after an auction has finished,
                        offering
                        unsold lots to a worldwide audience of interested bidders.
                    </p>
                    <p>
                        For auction houses, it’s a straightforward way of giving unsold lots a second chance, this time
                        to
                        many more clients worldwide. For buyers, it’s a simple, discreet method of making that 'last
                        bid' to
                        seal a deal, hence&nbsp;our&nbsp;name.
                    </p>
                    <p>
                        The contract between buyer and seller is strictly via the auction house. There is no extra cost
                        to
                        the buyer.
                    </p>
                    <p>
                        LastBid has negotiated arrangements with the leading auction houses of the world. Categories of
                        items offered by LastBid auction partners range from Watches to Wine, Jewellery to Jaguars.
                        Regular email newsletters and our insider’s blog keep LastBid users in the know on what’s
                        happening
                        in the market.
                    </p>
                    <p>
                        It’s as easy as one, two, three: Choose, Bid, Win.”
                    </p>
                    <p class="signature">
                        Peter Wallman
                    </p>
                    <p class="signature-footer">
                        Co-founder of LastBid
                    </p>
                </div>

            </div>

        </div>

        <div id="videoPopup" class="modal">
            <div class="modal-content modal-content__video">
                <span class="close"></span>

                <div class="video-block">

                </div>

            </div>
        </div>

        <style>

            .btn-main-center{
                margin: 0 auto;
                width: 210px;
                display: block;
            }
        </style>

        <div class="wrap">

            <a class="btn btn-main btn-main-center" id="discoverMoreBtn">discover more</a>

        </div>

        <div class="footer clearfix">
            <footer>
                <div class="wrap">

                    <div class="clear"></div>
                    <div class="social">
                        <a target="_blank" href="https://www.facebook.com/LastBidAuctions/"
                           class="icon-facebook"></a>
                        <!--<a target="_blank" href="https://www.instagram.com/simonkidston/"
                               class="icon-instagram"></a>-->
                        <a target="_blank"
                           href="https://www.linkedin.com/company/lastbid"
                           class="icon-linkedin"
                        ></a>
                        <!--<a target="_blank" href="https://twitter.com/KidstonSA" class="icon-twitter"></a>-->
                    </div>
                    <div class="copy">
                        <!-- LastBid UK Ltd &copy; 2017. Privacy Policy -->
                        <a id="privacy" class="privacy" href="https://www.lastbid.com/privacy">Privacy
                            Policy </a> &copy; <a href="#"> Copyright LastBid 2018</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<div id="modal-win"></div>
<div id="modal-win2"></div>
<!-- Scripts -->
<script src="assets/js/jquery-1.12.3.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/jquery.bxslider.js"></script>
<script src="assets/js/jquery.formstyler.js"></script>
<script src="assets/js/jquery.colorbox.min.js"></script>
<script src="assets/js/jquery.inputmask.bundle.min.js"></script>
<script src="assets/js/jquery.scrollbar.min.js"></script>
<script src="assets/js/autosize.js"></script>
<!-- Latest compiled and minified bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>

<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>-->
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff",
                    "text": "#333333"
                },
                "button": {
                    "background": "#caac8a",
                    "text": "#ffffff"
                }
            },
            "cookie": {
                "secure": true
            },
            "content": {
                "message": "This site uses cookies to improve your browsing experience, perform analytics and research, and conduct advertising. To change your preferences, see our Cookies & Tracking Notice. Otherwise, closing the banner or clicking Accept all Cookies indicates you agree to the use of cookies on your device.",
                "dismiss": "Accept all Cookies",
                "link": "Cookies &amp; Privacy Notice",
                "href": "/policy",
                "target": "_blank"
            }
        })
    });

    $(document).on('click', '.cc-link', function (e) {
        e.preventDefault();

        $('.privacy').click();
    });

</script>
<style>
    .cc-theme-block {
        height: 120px;
    }

    .cc-banner {
        border-top: 1px solid #E4E4E4;
    }

    .cc-compliance .cc-btn {
        display: inline-block;
        height: 44px;
        padding: 0 40px;
        border-radius: 22px;
        line-height: 44px;
        font-weight: bold;
        border: 0;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        background-color: #CAAC8A;
    }
</style>
</body>
</html>